@font-face {
    font-family: rogeu;
    src: url(assets/rogeu/Rogeu.otf);
}

@font-face {
    font-family: spaceGroteskBold;
    src: url(assets/space_grotesk/otf/SpaceGrotesk-Bold.otf);
}

@font-face {
    font-family: spaceGroteskMedium;
    src: url(assets/space_grotesk/otf/SpaceGrotesk-Medium.otf);
}

@font-face {
    font-family: spaceGroteskLight;
    src: url(assets/space_grotesk/otf/SpaceGrotesk-Light.otf);
}


@keyframes rotatingStar {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes expandHeaderWindow {
    0%{
        height: 0vh;
        width: 0;
    }
    100%{
        height: 100vh;
        width: 20vw;
    }
}

html{
    scroll-behavior: smooth;
}

.comingSoon{
    color: yellow;
    font-size: 4vw;
    font-family: rogeu;
    margin: 0;
    padding: 0;
}

body{
    
    margin: 0;
    margin-top: 0vw;
    padding: 0;
    overflow-x: hidden;
}

#header{
    height: 2.5vw;
    width: 100%;
    background-color: #120e2a;
    position: sticky;
    top: 0;
    isolation: isolate;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
}

#headerStar{
    background-image: url(assets/második\ kör-15.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    width: 2%;
    height: 2.5vw;
    margin-right: auto;
}

#headerLines{
    background-image: url(assets/második\ kör-19.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    width: 3%;
    height: 2.5vw;
    z-index: 3;
}

#headerCircle{
    background-image: url(assets/második\ kör-20.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    width: 4%;
    height: 2.5vw;
    z-index: 3;
}

#headerWindow{
    position: absolute;
    width: 0vw;
    height: 100vh;
    z-index: 2;
    display: flex;
    flex-direction: column;
    background-color: #120E2A;
    transition: 0.5s;
}

#headerWindowStar1{
    left: 9vw;
    top: -7vw;
    background-image: url(assets/második\ kör-15.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 80%;
    height: 30vw;
    position: absolute;
}

#headerWindowStar2{
    right: 15vw;
    bottom: -25.2vw;
    background-image: url(assets/második\ kör-15.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 50%;
    height: 30vw;
    position: absolute;
    transition: 0.5s;
}

#headerWindowImg{
    position: relative;
    margin-top: 2vw;
    background-image: url(assets/második\ kör-16.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 80%;
    height: 16vw;
}

#headerWindow a{
    position: relative;
    margin-bottom: 1.5vw;
    margin-left: 3vw;
    font-size: 1vw;
    text-decoration: none;
    font-family: spaceGroteskMedium;
    color: #fdd839;
    z-index: 1;
} 



#overlay{
    position: absolute;
    width: 0;
    height: 0;
}

#animationTrigger{
    display: none;
}

#animationTrigger:checked ~ #headerLines{
    background-image: url(assets/második\ kör-13.png);
    background-size: 80%;
}

#animationTrigger:checked ~ #headerCircle{
    background-image: url(assets/második\ kör-14.png);
    background-size: 68%;
}

#animationTrigger:checked ~ #headerWindow{
    width: 20vw;
}

#animationTrigger:checked ~ #overlay{
    width: 100%;
    height: 100vh;
}

/*------------------------------------------------*/
.sections{
    width: 100%;
    height: 50.7vw;
    /*box-shadow: 0 -2px 0 0 #844796;*/
    /*min-height: 500px;*/
    /*border: solid 1px magenta;*/
}

#titleSection{
    display: flex;
    align-items: left;
    justify-content: space-around;
    background-color: #120E2A;
    height: 54.5vw;
}


#titleLogo{
    background-image: url(assets/1-logo-11.png);
    position: relative;
    top: -9%;
    left: -2%;
    background-size: 115%;
    background-repeat: no-repeat;
    width: 100%;
    max-height: 50vw;
}

#titleText{
    background-image: url(assets/1-felirat-11.png);
    position: relative;
    top: -10%;
    right: 9%;
    background-size: 115% ;
    background-repeat: no-repeat;
    width: 100%;
    height: 46.5vw;
}

.stars{
    position:absolute;
    width: 10%;
    left: 52.5%;
}

#star1{
    top: 10%;
    
}

#star2{
    top: 102%;
}

#star3{
    top: 114%;
}

#star4{
    top: 127%;
}

/*---------------------------------------------*/



#performersSection{
    background-color: #120E2A;
    height: 51vw;
    box-shadow: 0 -5px 0 0 #120E2A;
}

#performersText{
    display: flex;
    justify-content: right;
    position: relative;
    height: 6.1vw;
    
}

#performersText img{
    width: 18%;
    position: absolute;
    right: 3vw;
}

#performersGallery{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 100%;
    text-align: center;
}



#performersName{
    width: 100%;
    height: fit-content;
    text-align: center;
}

#performersName h1{
    margin: 0;
    padding: 0;
    color: #7ec351;
    font-family: spaceGroteskBold;
    font-size: 2vw;
}



/*------------------------------------------*/



#programsSection{
    background-color: #844796;
    height: 55vw;
    box-shadow: 0 -6px 0 0 #120E2A;
}

#programsHeader{
    background-image: url(assets/1csillagos\ átmenet-11.png);
    position: relative;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center -5.6vw;
    width: 100%;
    height: 16.5vw;
    box-shadow: 0 -2px 0 0 #120E2A;
}

#programsHeader img{
    
    position: absolute;
    width: 4vw;
    top: 35.5%;
    left: 77%;
    animation: rotatingStar 5s linear infinite;
}

#programsText{
    width: 100%;
    position: relative;
}

#programsText img{
    width: 23%;
    position: absolute;
    top: -8vw;
    left: 5vw;
}

#programsGallery{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
    width: 100%;
    text-align: center;
}


/*---------------------------------------*/


#gallerySection{
    background-color: #844796;
}

#gallerySection{
    height: 51vw;
}

#galleryText{
    position: relative;
    display: flex;
    justify-content: right;
    width: 100%;
    height: 6.1vw;
}

#galleryText img{
    position: absolute;
    right: 3vw;
    width: 18%;
}

#galleryGallery{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 100%;
    text-align: center;
}

#galleryGallery iframe{
    width: 50vw;
    height: 30vw;
}

#galleryYear{
    width: 100%;
    height: fit-content;
    text-align: center;
}

#galleryYear h1{
    padding: 0;
    margin: 0;
    color: #fdd839;
    font-family: spaceGroteskBold;
    font-size: 2vw;
}
/*-------------------------------------*/

#supportSection{
    background-color: #120E2A;
}


#supportGradient{

    width: 100%;
    height: 7vw;
    background-image: linear-gradient(to top, #120E2A, #844796);

}

#supportText{

    width: 100%;
    height: 23vw;
    display: flex;
    justify-content:space-around;
    margin-top: 5vw;

}

#supportImg{

    background-image: url(assets/feliratok-14.png);
    background-size: contain;
    width: 30vw;
    height: 20vw;
    background-repeat: no-repeat;
    margin-left: -3vw;

}

#supportText p{

    width:45vw;
    color: white;
    font-family: spaceGroteskMedium;
    margin-top: 1.5vw;
    padding: 0;
    line-height: 3vw;
    height: 21vw;
    font-size: 1.0vw;

}

#supportStars{
    width: 100%;
    height: 15.8vw;
    display: flex;
    justify-content: space-around;
}

#supportStars img{
    height: 10vw;
}

#supportStars #flash{
    height: 16vw;
    margin-top: -2.5vw;
}




/*----------------------------------------*/


#contactSection{
    background-color: #FDD839;
    height: 30vw;
}

#contactHeader{
    background-image: url(assets/2csillagosátmenet-11.png);
    position: relative;
    background-size: 100.1vw auto;
    background-repeat: no-repeat;
    background-position: center -5.7vw;
    width: 100%;
    height: 14vw;
    box-shadow: 0 -2px 0 0 #120E2A;
    position: relative;
}

#contactHeader img{
    width: 4.5vw;
    position: absolute;
    top: 5vw;
    left: 18.5vw;
    animation: rotatingStar 5s linear infinite reverse;
}

#contactText{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;

}

#contactText p{
    margin-right: 7vw;
    font-family: rogeu;
    color: #844796;
    font-size: 5vw;
    height: fit-content;
    margin-top: -2vw;
}

#contactContact{
    height: fit-content;
}

#contactContact h2{
    width: 40vw;
    margin-left: 10vw;
    font-size: 1.2vw;
    line-height: 4vw;
    font-family: spaceGroteskLight;
    margin-top: 2vw;

}



/*RESPONSIVE*/

@media (max-width: 1000px) {

    #header{
        height: 8vw;
    }

    #headerStar{
        margin-top: 1.5vw;
        width: 5vw;
        height: 5vw;
    }

    #headerLines{
        width: 8vw;
        height: 8vw;
        margin-top: -0.2vw;
    }

    #headerCircle{
        width: 9vw;
        height: 9vw;
        margin-top: -0.7vw;
    }

    #headerWindow{
        height: 100vh;
        overflow: hidden;
    }

    #headerWindowImg{
        height: 30vw;
        margin-bottom: 15vw;
        margin-top: 10vw;
    }

    #headerWindow a{
        margin-bottom: 3vw;
        margin-left: 9vw;
        font-size: 2.5vw;
    }

    #headerWindowStar1{
        left: 25vw;
        top: -15vw;
        width: 80%;
        height: 38vw;
    }

    #headerWindowStar2{
        right: 38vw;
        bottom: -18vw;
        background-image: url(assets/második\ kör-15.png);
        background-size: 100%;
        background-repeat: no-repeat;
        width: 50%;
        height: 30vw;
        position: absolute;
    }

    


    #animationTrigger:checked ~ #headerWindow{
        width: 50vw;
    }

    .comingSoon{
        font-size: 8vw;
    }

    /*-----------------------------------*/

    .sections{
        height: 100vh;
    }
    
    #star1{
        display: none;
    }
    #star3{
        display: none;
    }
    #star4{
        display: none;
    }

    #titleSection{
        flex-direction: column;
        height: auto;
        position: relative;
    }

    #titleLogo{
        background-size: contain;
        background-position: center top;
        width: 100%;
        min-height: 70vw;
        margin-top: -10%;
        margin-left: 3%;
    }

    #titleText{
        background-size: contain;
        background-position: center top;
        width: 100%;
        min-height: 65vw;
        margin-top: -10%;
        margin-left: 9%;
    }

    #star2{
        top: 85%;
        left: 45.1%;
    }

    /*------------------------------------------*/

    #performersSection{
        height: 100vw;
    }

    #performersText img{
        width: 40%;
    }

    #performersGallery h1{
        font-size: 7vw;
    }


    /*--------------------------------------------*/

    #programsSection{
        height: 100vw;
    }

    #programsText img{
        width:45%;
    }

    #programsGallery h1{
        font-size: 7vw;
    }

    #performersName h1{
        font-size: 4vw;
    }

    /*------------------------------------------------*/

    #gallerySection{
        height: 100vw;
    }
    
    #galleryText img{
        width: 40%;
    }

    #galleryGallery h1{
        font-size: 7vw;
    }

    #galleryYear h1{
        font-size: 4vw;
    }

    #galleryGallery iframe{
        width: 80vw;
        height: 50vw;
    }


    /*-------------------------------------------------*/

    #supportSection{
        display: flex;
        flex-direction: column;
        height: 120vw;
        align-items: center;
    }

    #supportGradient{

        width: 100%;
        height: 17vw;
        background-image: linear-gradient(to top, #120E2A, #844796);

    }


    #supportText{
        width: 100%;
        height: 23vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5vw;
    }

    #supportImg{
        background-size: contain;
        background-position: center top;
        width: 100%;
        min-height: 20vw;
        background-repeat: no-repeat;
        margin-left: -35vw;
    }

    #supportText p{
        font-size: 2.5vw;
        width:60vw;
        line-height: 5vw;
        height: 30vw;
        margin-left: 5vw;
        margin-top: 4vw;

    }

    #supportStars{
        margin-top: 60vw;
        height: 15.8vw;
        display: flex;
        justify-content: space-around;
    }

    #supportStars img{
        height: 14vw;
    }

    #supportStars #flash{
        height: 20vw;
        margin-bottom: -13vw;
    }


    /*--------------------------------------------------*/

    #contactText p{
        margin-right: 16vw;
        font-family: rogeu;
        color: #844796;
        font-size: 9vw;
        height: fit-content;
        margin-top: -2vw;
    }

    #contactContact h2{
        width: 55vw;
        margin-left: 4vw;
        font-size: 2.5vw;
        line-height: 5vw;
        font-family: spaceGroteskLight;
        margin-top: 5vw;

    }



    /*---------------------------------------------------*/

}

@media (max-width: 730px) {
    #header{
        height: 13vw;
    }

    #headerStar{
        margin-top: 1.5vw;
        width: 8vw;
        height: 8vw;
    }

    #headerLines{
        width: 13vw;
        height: 13vw;
        margin-top: -0.5vw;
    }

    #headerCircle{
        width: 14vw;
        height: 14vw;
        margin-top: -1.1vw;
    }

    #headerWindow{
        height: 100vh;
        overflow: hidden;
    }

    #headerWindowImg{
        height: 45vw;
        width: 60vw;
        margin-bottom: 25vw;
        margin-top: 10vw;
    }

    #headerWindow a{
        margin-bottom: 4vw;
        margin-left: 9vw;
        font-size: 4vw;
    }

    #headerWindowStar1{
        left: 34vw;
        top: -20vw;
        width: 80%;
        height: 52vw;
    }

    #headerWindowStar2{
        right: 53vw;
        bottom: -13vw;
        width: 50%;
        height: 30vw;
    }

    


    #animationTrigger:checked ~ #headerWindow{
        width: 70vw;
    }
}