@font-face {
    font-family: rogeu;
    src: url(assets/rogeu/Rogeu.ttf);
}

@keyframes rotatingStar {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}

.comingSoon{
    color: yellow;
    font-size: 4vw;
    font-family: rogeu;
}

body{
    margin: 0;
    padding: 0;
}


/*------------------------------------------------*/
.sections{
    width: 100%;
    height: 50.7vw;
    box-shadow: 0 -2px 0 0 #844796;
    /*min-height: 500px;*/
    /*border: solid 1px magenta;*/
}

#titleSection{
    display: flex;
    align-items: left;
    justify-content: space-around;
    background-color: #120E2A;
    height: 52vw;
}


#titleLogo{
    background-image: url(assets/1-logo-11.png);
    position: relative;
    top: -9%;
    left: -2%;
    background-size: 115%;
    background-repeat: no-repeat;
    width: 100%;
    max-height: 47.5vw;
}

#titleText{
    background-image: url(assets/1-felirat-11.png);
    position: relative;
    top: -10%;
    right: 9%;
    background-size: 115% ;
    background-repeat: no-repeat;
    width: 100%;
    height: 46.5vw;
}

.stars{
    position:absolute;
    width: 10%;
    left: 52.5%;
}

#star1{
    top: 10%;
    
}

#star2{
    top: 102%;
}

#star3{
    top: 114%;
}

#star4{
    top: 127%;
}

/*---------------------------------------------*/



#performersSection{
    background-color: #120E2A;
    height: 46.5vw;
    box-shadow: 0 -5px 0 0 #120E2A;
}

#performersText{
    display: flex;
    justify-content: right;
    position: relative;
    height: 6.1vw;
    
    
}

#performersText img{
    width: 18%;
    position: absolute;
    right: 3vw;
}

#performersGallery{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 100%;
    text-align: center;
}



#performersName{
    width: 100%;
    height: 3vw;
}



/*------------------------------------------*/



#programsSection{
    background-color: #844796;
    height: 46.5vw;
    box-shadow: 0 -6px 0 0 #120E2A;
}

#programsHeader{
    background-image: url(assets/1csillagos\ átmenet-11.png);
    position: relative;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center -5.6vw;
    width: 100%;
    height: 16.5vw;
    box-shadow: 0 -2px 0 0 #120E2A;
}

#programsHeader img{
    
    position: absolute;
    width: 4vw;
    top: 35.5%;
    left: 77%;
    animation: rotatingStar 5s linear infinite;
}

#programsText{
    width: 100%;
    position: relative;
}

#programsText img{
    width: 23%;
    position: absolute;
    top: -8vw;
    left: 5vw;
}

#programsGallery{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64.6%;
    width: 100%;
    text-align: center;
}


/*---------------------------------------*/


#gallerySection{
    background-color: #844796;
}

#supportSection{
    background-color: #120E2A;
}
#contactSection{
    background-color: #FDD839;
}



/*RESPONSIVE*/

@media (max-width: 1000px) {

    /*-----------------------------------*/

    .sections{
        height: 100vh;
    }
    
    #star1{
        display: none;
    }
    #star3{
        display: none;
    }
    #star4{
        display: none;
    }

    #titleSection{
        flex-direction: column;
        height: auto;
        position: relative;
    }

    #titleLogo{
        background-size: contain;
        background-position: center top;
        width: 100%;
        min-height: 70vw;
        margin-top: -10%;
        margin-left: 3%;
    }

    #titleText{
        background-size: contain;
        background-position: center top;
        width: 100%;
        min-height: 65vw;
        margin-top: -10%;
        margin-left: 10%;
    }

    #star2{
        top: 85%;
        left: 45.1%;
    }

    /*------------------------------------------*/

    #performersSection{
        height: auto;
    }

    #performersText img{
        width: 35%;
    }

    #performersGallery h1{
        font-size: 7vw;
    }


    /*--------------------------------------------*/

    #programsSection{
        height: auto;
    }

    #programsText img{
        width: 50%;
    }

    #programsGallery h1{
        font-size: 7vw;
    }

    /*------------------------------------------------*/


}