

.bckg{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-image: url("background.jpg");
    background-size: cover;
    filter: blur(8px);
    z-index: -1;
}

.header{
    display: flex;
    position: absolute;
    position: sticky;
    top: 0;
    width: 100%;
    height: 2.7vw;
    background-color: rgb(83, 145, 83);
    justify-content: space-between;
    align-items: center;
}

.header-container{
    width: 30%;
    height: 2.7vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-container img{
    border-radius: 50px;
    width: auto;
    height: 2.5vw;
}

.header-text{
    font-size: 1.3vw;
}

.big-logo img{
    width: 25vw;
    border-radius: 50%;
    margin-left: 37.2%;
    margin-top: 5vw;
}

.title{
    display: flex;
    width: 100%;
    height: 10vw;
    align-items: center;
    justify-content: center;
}

.title h1{
    font-size: 4vw;
}


@media only screen and (max-width: 1170px) and (max-height: 2532px){
    
    .header{
        top: 10px;
        height: 10vw;
        width: 10vw;
        border-radius: 50%;
        transition: 0.1s;
        position: absolute;
    }

    .header-container{
        height: 10vw;
    }

    .header-container img{
    height: 10vw;
    }

    #left{
        display: none;
    }

    #right{
        display: none;
    }

    #middle{
        width: 0;
        height: 0;
    }

    .big-logo img{
        width: 55vw;
        margin-left: 23%;
        margin-top: 20vw;
    }

    .title h1{
        margin-top: 30vw;
        font-size: 10vw;
    }
}